name: Build and Release

on:
  push:
    tags:
    - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to create release for'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0

    - name: base64-to-file
      id: write_file
      uses: timheuer/base64-to-file@v1.2
      if: ${{ ( github.event_name != 'pull_request' && github.ref == 'refs/heads/master' ) || github.ref_type == 'tag' }}
      with:
        fileName: 'key.jks'
        encodedString: ${{ secrets.SIGNING_KEY }}

    - name: Write key
      if: ${{ ( github.event_name != 'pull_request' && github.ref == 'refs/heads/master' ) || github.ref_type == 'tag' }}
      run: |
        touch keystore.properties
        echo storePassword='${{ secrets.KEY_STORE_PASSWORD }}' >> keystore.properties
        echo keyAlias='${{ secrets.ALIAS }}' >> keystore.properties
        echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> keystore.properties
        echo storeFile='${{ steps.write_file.outputs.filePath }}' >> keystore.properties

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build all APKs
      run: ./gradlew assembleRelease

    - name: Upload APKs
      uses: actions/upload-artifact@v4
      with:
        name: apks
        path: |
          app/build/outputs/apk/**/*.apk
          xposed/build/outputs/apk/**/*.apk

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: |
          app/build/outputs/apk/**/*.apk
          xposed/build/outputs/apk/**/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
